
<ul class="nav flex-column mt-3">
    <li class="nav-item px-3">
        <NavLink class="btn btn-outline-primary btn-block"
                 href="/admin/products"
                 ActiveClass="btn-primary text-white"
                 Match="NavLinkMatch.Prefix"
                 style="width:100px">
            Products
        </NavLink>
    </li>
    <li class="nav-item px-3 mt-3">
        <NavLink class="btn btn-outline-primary btn-block"
                 href="/admin/orders"
                 ActiveClass="btn-primary text-white"
                 Match="NavLinkMatch.Prefix"
                 style="width:100px">
            Orders
        </NavLink>
    </li>
</ul>

@code {

   
}
